<ion-view>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">
                Welcome to W3 Chat
            </div>
            <div class="item item-text-wrap">
                <p>Type a username to begin. <br/> Add email to show your Gravatar (optional).</p>
                <div class="list">
                    <label class="item item-input">
                        <input type="text" ng-model="user.name" placeholder="Name or nick">
                    </label>
                    <div class="alert alert-danger" ng-show="submitted && !user.name">Username required</div>
                    <label class="item item-input">
                        <input type="email" ng-model="user.email" placeholder="Email (for Gravatar)">
                    </label>
                </div>
                <p><a class="button button-large button-balanced icon-left ion-checkmark" ng-click="setUser()">Begin</a></p>
            </div>
        </div>
    </ion-content>
</ion-view>
