<ion-view>
    <ion-content class="padding messages">
        <div ng-show="!topic.id">
            <blockquote>
                <p>No topic selected.</p>
                <p>Please, select a <a href="#/tab/topics" class="positive">topic</a></p>
            </blockquote>
        </div>

        <ion-list ng-show="topic.id">
            <div class="item item-divider item-text-wrap">
                <h2>{{ topic.title }}</h2>
                <p>{{ topic.description }}</p>
            </div>

            <ion-item ng-repeat="message in messages" type="item-text-wrap" class="item-avatar">
                <img src="http://www.gravatar.com/avatar/{{ message.email | gravatar }}?size=60">
                <div>
                    <strong>{{ message.user }}</strong>
                    <small class="text-muted" am-time-ago="message.time"></small>
                </div>
                <p>{{ message.message }}</p>
                <ion-option-button class="button-assertive" ng-click="delete(message)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

    <form class="post-message" role="form" ng-submit="save(message)" >
        <ion-footer-bar class="bar-stable post-message">
            <input type="text" ng-model="message.message" placeholder="Post message..."
                   ng-show="message && user.name">
            <button type="submit" ng-disabled="!message.message"
                    ng-show="message && user.name"
                    class="button button-clear button-small button-positive icon-left ion-android-send"></button>
            <div>
                <blockquote ng-show="!user.name">
                    <p><a href="#/" class="positive">Username</a> required to post messages.</p>
                </blockquote>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
