<ion-view>
    <ion-content class="padding topics">
        <div class="pull-right">

        </div>
        <div class="list">
            <div class="item item-divider item-button-right">
                <h2>Topics</h2>
                <a class="button button-small button-positive icon-left ion-plus" href="#/tab/topics/new">New topic</a>
            </div>
            <div class="item item-text-wrap" ng-repeat="topic in topics">
                <h2><a href="" class="positive" ng-click="selectTopic(topic)">{{ topic.title }}</a></h2>
                <p class="text-muted">{{ topic.description }}</p>
                <a href="#/tab/topics/{{ topic.id }}" class="positive">Edit</a> -
                <a href="" class="assertive" ng-click="delete(topic)">Delete</a>
            </div>
        </div>
    </ion-content>
</ion-view>
