a {
    text-decoration: none;
}

.topics .item-divider h2 {
    margin: 0;
    padding: 0;
    line-height: 26px;
}

.topics .item-button-right .button-small {
    padding: 2px 4px 1px;
    min-width: 28px;
    min-height: 30px;
    font-size: 12px;
    line-height: 26px;
}

.topics .item h2 {
    font-size: 18px;
    font-weight: bold;
}

ul.messages > li > .header {
    margin-bottom: 15px;
}

ul.messages > li > .header > p {
    color: #666;
}

ul.messages .gravatar {
    float: left;
    margin-right: 15px;
}
