a {
    text-decoration: none;
}

.text-muted {
    color: #999;
}

.item h2 {
    font-size: 18px;
    font-weight: bold;
}

.item-divider h2 {
    margin: 0;
    padding: 0;
    line-height: 26px;
}

.topics .item-button-right .button-small {
    padding: 2px 4px 1px;
    min-width: 28px;
    min-height: 30px;
    font-size: 12px;
    line-height: 26px;
}

.bar.post-message .button-small {
    font-size: 12px;
    line-height: 12px;
}
